<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.yamyam_coach.mapper.meal.MealMapper">

    <insert id="insert" parameterType="Meal" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO meals(daily_diet_id, type)
        VALUES (#{dailyDietId}, #{type})
    </insert>

    <select id="findById" resultType="Meal">
        SELECT *
        FROM meals
        WHERE id = #{meaId}
    </select>

    <delete id="deleteByDailyDietId">
        DELETE
        FROM meals
        WHERE daily_diet_id = #{dailyDietId}
    </delete>

    <select id="existsByDailyDietAndMealType" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM meals
        WHERE daily_diet_id = #{dailyDietId}
          and type = #{mealType}
    </select>

    <select id="findByDailyDietAndMealType" resultType="Meal">
        SELECT *
        FROM meals
        WHERE daily_diet_id = #{dailyDietId}
          and type = #{mealType}
    </select>

    <delete id="deleteById">
        DELETE FROM meals
        WHERE id = #{mealId}
    </delete>

</mapper>
