<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.yamyam_coach.mapper.UserMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (email, password, nickname, name, created_at, updated_at)
        VALUES (#{email}, #{password}, #{nickname}, #{name}, #{createdAt}, #{updatedAt})
    </insert>

    <select id="findByEmail" resultType="com.ssafy.yamyam_coach.domain.user.User">
        SELECT id, email, password, nickname, name, created_at, updated_at
        FROM users
        WHERE email = #{email}
    </select>

    <select id="existsByNickname" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM users
        WHERE nickname = #{nickname}
    </select>

</mapper>

