<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.yamyam_coach.mapper.diet_plan.DietPlanMapper">

    <select id="findDietPlansByUserId" resultType="DietPlan">
        SELECT *
        FROM diet_plans
        WHERE user_id = #{userId}
        ORDER BY title
    </select>

    <select id="findById" resultType="DietPlan">
        SELECT *
        FROM diet_plans
        WHERE id = #{dietPlanId}
    </select>

</mapper>
